<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <title>Alweer</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/style-mobile.css" />
    <link rel="stylesheet" href="../styles/style-desktop.css" />
    <link rel="stylesheet" href="../styles/animations.css" />
    <link rel="stylesheet" href="../styles/prefers-contrast.css" />
    <link rel="icon" type="image/png" href="https://images.emojiterra.com/google/android-12l/512px/2600.png">

    <script src="../script/script.js"></script>
  </head>
  <body>