<style>
    li {
        list-style: none
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    a svg {
        stroke: #58A747;
    }
</style>
<details>
    <summary>
        <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="25" height="3" stroke="#58A747" />
            <rect x="0.5" y="6.5" width="25" height="3" stroke="#58A747" />
            <rect x="0.5" y="12.5" width="25" height="3" stroke="#58A747" />
        </svg>

        menu
    </summary>
    <ul>
        <li>
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_71_419)">
                        <path
                            d="M3 21.0001H7L20 8.00006C20.5304 7.46963 20.8284 6.7502 20.8284 6.00006C20.8284 5.24991 20.5304 4.53049 20 4.00006C19.4696 3.46962 18.7501 3.17163 18 3.17163C17.2499 3.17163 16.5304 3.46962 16 4.00006L3 17.0001V21.0001Z"
                            stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.5 5.5L18.5 9.5" stroke="" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 7.55556L6.44444 2L2 6.44444L7.55556 12" stroke="" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6 8L5 9" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16.4444 12L22 17.5556L17.5556 22L12 16.4444" stroke="" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 18L15 19" stroke="" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_71_419">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                Wat wij doen
            </a>
        </li>
        <li>
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_71_428)">
                        <path
                            d="M19 7H5C3.89543 7 3 7.89543 3 9V18C3 19.1046 3.89543 20 5 20H19C20.1046 20 21 19.1046 21 18V9C21 7.89543 20.1046 7 19 7Z"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M8 7V5C8 4.46957 8.21071 3.96086 8.58579 3.58579C8.96086 3.21071 9.46957 3 10 3H14C14.5304 3 15.0391 3.21071 15.4142 3.58579C15.7893 3.96086 16 4.46957 16 5V7"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 12V12.01" stroke="" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3 13C5.79158 14.4067 8.87403 15.1394 12 15.1394C15.126 15.1394 18.2084 14.4067 21 13"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_71_428">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                Ons werk
            </a>
        </li>
        <li>
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_71_439)">
                        <path
                            d="M2 19C2 19.7956 2.31607 20.5587 2.87868 21.1213C3.44129 21.6839 4.20435 22 5 22C5.79565 22 6.55871 21.6839 7.12132 21.1213C7.68393 20.5587 8 19.7956 8 19C8 18.2044 7.68393 17.4413 7.12132 16.8787C6.55871 16.3161 5.79565 16 5 16C4.20435 16 3.44129 16.3161 2.87868 16.8787C2.31607 17.4413 2 18.2044 2 19Z"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M16 5C16 5.79565 16.3161 6.55871 16.8787 7.12132C17.4413 7.68393 18.2044 8 19 8C19.7956 8 20.5587 7.68393 21.1213 7.12132C21.6839 6.55871 22 5.79565 22 5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7956 2 19 2C18.2044 2 17.4413 2.31607 16.8787 2.87868C16.3161 3.44129 16 4.20435 16 5Z"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M12 19H16.5C17.4283 19 18.3185 18.6313 18.9749 17.9749C19.6313 17.3185 20 16.4283 20 15.5C20 14.5717 19.6313 13.6815 18.9749 13.0251C18.3185 12.3687 17.4283 12 16.5 12H8.5C7.57174 12 6.6815 11.6313 6.02513 10.9749C5.36875 10.3185 5 9.42826 5 8.5C5 7.57174 5.36875 6.6815 6.02513 6.02513C6.6815 5.36875 7.57174 5 8.5 5H12"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_71_439">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                Over ons
            </a>
        </li>
        <li>
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_71_446)">
                        <path
                            d="M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z"
                            stroke="" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_71_446">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                Contact
            </a>
        </li>
        <li class="cta-link">
            <a href="">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_71_453)">
                        <path
                            d="M9 7H6C5.46957 7 4.96086 7.21071 4.58579 7.58579C4.21071 7.96086 4 8.46957 4 9V18C4 18.5304 4.21071 19.0391 4.58579 19.4142C4.96086 19.7893 5.46957 20 6 20H15C15.5304 20 16.0391 19.7893 16.4142 19.4142C16.7893 19.0391 17 18.5304 17 18V15"
                            stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M9 15H12L20.5 6.49998C20.8978 6.10216 21.1213 5.56259 21.1213 4.99998C21.1213 4.43737 20.8978 3.89781 20.5 3.49998C20.1022 3.10216 19.5626 2.87866 19 2.87866C18.4374 2.87866 17.8978 3.10216 17.5 3.49998L9 12V15Z"
                            stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 5L19 8" stroke="" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_71_453">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                Vraag een offerte aan
            </a>
        </li>
    </ul>
</details>