<!DOCTYPE html>
<html>
  <head>
    <title>Zoekresultaten</title>
  </head>
  <body>
    <h1>Zoekresultaten</h1>
    <ul>
      <% results.forEach(result => { %>
        <li><%= result.name %></li>
      <% }); %>
    </ul>
  </body>
</html>
