@media (min-width: 30em) {
    .weather-conditions .overview {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 40em) {

    .index section:first-child {
        width: 30em;
    }

    form {
        width: 35em;
    }

    .index-results ul {
        width: 100%;
    }
}
