@media (min-width: 48em) {

    header {
        position: absolute;
    }

    .index {
        width: fit-content;
        height: 100%;
        margin: 0 auto;
    }

    .index h1 {
        max-width: 20em;
    }

    .index-results ul {
        width: ;
    }

    .forecast {
        width: min-content;
        height: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2em;
    }

    .temperature {
        width: 20vw;
        height: auto;
        justify-content: center;
        padding: 2em;
    }

    .weather-conditions {
        width: 55vw;
        margin: auto;
    }

    /* Formulier */

}

@media (min-width: 64em) {
    .index section:first-child div {
        width: fit-content;
        margin: auto;
    }

    .index section:first-child {
        width: 50em;
    }

    .index section:first-child li span {
        width: inherit;
        margin: auto;
    }
}

@media (min-width: 80em) {


    .temperature {
        width: 27.5vw;
        justify-content: center;
        padding: 1em;
    }

    .weather-conditions {
        width: 40vw;
    }
}